.unhide {
  position: fixed;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: #107ad7;
  flex-direction: column;
  top: 0;
  animation: swing-in-left-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  z-index: 100;
  color: #ffffff;
}
.list-element {
  margin: 6vh;
  margin-left: 0;
  list-style: none;
}
.hide {
  position: absolute;
  right: 100vw;
}
.visibel {
  visibility: visible;
  z-index: 99;
}
.parent {
  width: 15vw;
  background-color: #ffffff;
  height: 5vh;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
}
.arrow-icon {
  font-size: 1.5rem;
  color: #034078;
}
@keyframes swing-in-left-fwd {
  0% {
    transform: rotateY(100deg);
    transform-origin: left;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
    opacity: 1;
  }
}
