.navbar-container {
  width: 90%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 10px 10px 90px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  z-index: 100;
}
.navbar-left {
  background-image: url(../Images/everest-logo.png);
  background-size: cover;
  height: 50px;
  width: 120px;
}
.navbar-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}
.navbar-right {
  display: flex;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
}
.navbar-user {
  color: rgb(250, 250, 250);
  background-color: #326be5;
  display: grid;
  place-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Varela Round", sans-serif;
  font-weight: 100 !important;
}
